<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perika - Family Details</title>

</head>
<body bgcolor="cyan">
    {% block content%}
    <h1 align=center>Perika - Family Details</h1>
    
    <form action="family" method="POST">
        
        {% csrf_token %}
        <label>Please enter details of your family details staying in the House number:<label> <br><br>
        House Number :  
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="hno" size="5"> <br>        
        Mobile No : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="mobileno"> <br> 
        Owner Name : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="ownername"> <br> 
        Electricity USC No: <input type="text" name="uscno"> <br> 
        Age: <input type="text" name="age" size="5"> <br> 
        <label>Occupation:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select name="occupation">
                <option value="agriculture">Agriculture</option>
                <option value="business">Business</option>
                <option value="govtemployee">Govt Employee</option>
                <option value="privateemployee">Private Employee</option>
            </select> <br> <br>
        Father Name : &nbsp;&nbsp;&nbsp;<input type="text" name="fathername"> <br> 
        Mother Name : &nbsp;&nbsp;<input type="text" name="mothername"> <br> <br>
        <label>Children Details : </label><br>
        <div class="table">           
            Name : <span class="td"><input type="text" name="child1name"/></span>
            Age : <span class="td"><input name="child1age" size = "3"/></span>  
            Education :  <select type="text" name="child1education">
             <option value="nursery">Nursery</option>
             <option value="lkg">LKG</option>
             <option value="ukg">UKG</option>
             <option value="one">1st</option>
             <option value="two">2nd</option>
             <option value="three">3rd</option>
             <option value="four">4th</option>
             <option value="five">5th</option>
             <option value="six">6th</option>
             <option value="seven">7th</option>
             <option value="eight">8th</option>
             <option value="nine">9th</option>
             <option value="ten">10th</option>
             <option value="tenth">S.S.C</option>
             <option value="ipe">I.P.E</option>
             <option value="graduate">Graduate</option>
             <option value="postgraduate">Post Graduate</option>
             </select>                        
         <div class="tr">
            Name :  <span class="td"><input type="text" name="child2name"/></span>
             Age : <span class="td"><input type="text" name="child2age" size = "3"></span>
             Education : <select type="text" name="child2education">
                 <option value="nursery">Nursery</option>
                 <option value="lkg">LKG</option>
                 <option value="ukg">UKG</option>
                 <option value="one">1st</option>
                 <option value="two">2nd</option>
                 <option value="three">3rd</option>
                 <option value="four">4th</option>
                 <option value="five">5th</option>
                 <option value="six">6th</option>
                 <option value="seven">7th</option>
                 <option value="eight">8th</option>
                 <option value="nine">9th</option>
                 <option value="ten">10th</option>
                 <option value="tenth">S.S.C</option>
                 <option value="ipe">I.P.E</option>
                 <option value="graduate">Graduate</option>
                 <option value="postgraduate">Post Graduate</option>
                 </select>
         </div>
         Name :  <span class="td"><input type="text" name="child3name"/></span>
         Age : <span class="td"><input type="text" name="child3age" size = "3"></span>
         Education : <select type="text" name="child3education">
                 <option value="nursery">Nursery</option>
                 <option value="lkg">LKG</option>
                 <option value="ukg">UKG</option>
                 <option value="one">1st</option>
                 <option value="two">2nd</option>
                 <option value="three">3rd</option>
                 <option value="four">4th</option>
                 <option value="five">5th</option>
                 <option value="six">6th</option>
                 <option value="seven">7th</option>
                 <option value="eight">8th</option>
                 <option value="nine">9th</option>
                 <option value="ten">10th</option>
                 <option value="tenth">S.S.C</option>
                 <option value="ipe">I.P.E</option>
                 <option value="graduate">Graduate</option>
                 <option value="postgraduate">Post Graduate</option>
                 </select>
     </div> <br> <br>
        Village : <input type="text" name="village"> <br> 
        Mandal : <input type="text" name="mandal"> <br> 
        District : <input type="text" name="district"> <br> 
        State : &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="state"> <br> <br>        
        <input type="submit">
    </form>

    {% endblock %}
</body>
</html>